html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav{
    display: flex;
    background: black;

}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;  
}

.desktop-nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}


.menu-btn,#sidemenu{
    display: none;
}

.footer{
    background-color: black;
    color: white;
    margin-top: 0px;
    padding: 20px;
}

.title-box{
    padding-left: 20px;
}

.container{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.container div{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 160px;

}


@media (max-width:700px) {
    .desktop-nav{
        display: none;
    }
    .menu-btn{
        display: block;
        font-size: 26px;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
    }
    #sidemenu{
        display: block;
        position: fixed;
        top: 0;
        left: -60%;
        width: 250px;
        height: 100%;
        background: black;
        transition: 0.3s;
    }
    .close-btn{
        color: white;
        padding: 20px;
        display: block;
        text-decoration: none;
        cursor: pointer;
        text-align: right;
    }
    #sidemenu a{
        color: white;
        padding: 15px;
        display: block;
        text-decoration: none;
        cursor: pointer;
    }
    .container{
        flex-direction: column;
    }
}

nav a:hover {
    background-color: black;
    color: grey;
}

#sidemenu a:hover{
    background-color: black;
    color: grey;
}
.close-btn:hover{
    background-color: black;
    color: grey;
}
.menu-btn:hover{
    color: grey;
}

.container div:hover{
    background-color: grey;
    color: white;
}

.banner {
    background: url('https://images.unsplash.com/photo-1542291026-7eec264c7ff?auto=format&fit=crop&w=1350&q=80')no-repeat center center/cover;
    color: black;
    text-align: center;
}

.page-title {
    text-align: center;
    margin: 20px 0;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5px;
    align-content: center;
}

img {
    width: 100%;
}

.product-card {
    border: 2px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.product-card:hover {
    background-color: black;
    color: white;
}

.product-card button {
    background: green;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.product-card button:hover {
    background-color: grey;
    color: black;
}

.cart-table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart-table th,
.cart-table td:hover {
    background-color: black;
    color: white;

}

.contact-form {
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input:hover,
.contact-form textarea:hover {
    background-color: black;
    color: white;
}

.contact-form button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button:hover {
    background: black;
}

#popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

.popup-box{
    background: white;
    color: black;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 40%;
    padding: 20px;
    text-align: center;
}

.popup-box:hover{
    background-color: black;
    color: white;
}

.popup-button:hover{
    background-color: black;
    color: white;
}